.container {
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px;
  gap: 10px;
  grid-template-areas:
    "img1 img3 img3"
    "img1 img4 img6"
    "img2 img2 img6"
    "img5 img5 img5";
}

.container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.container:hover .item img:not(:hover) {
  filter: grayscale(1);
  opacity: 0.5;
  transition: 0.5s;
}

.container .img1 {
  grid-area: img1;
}
.container .img2 {
  grid-area: img2;
}
.container .img3 {
  grid-area: img3;
}
.container .img4 {
  grid-area: img4;
}
.container .img5 {
  grid-area: img5;
}
.container .img6 {
  grid-area: img6;
}
